* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
  }
  
  .no-todo {
    text-align: center;
    margin-top: 50px;
  }
  
  .add-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
  }
  
  .todo-container {
    text-align: -webkit-center;
  }
  
  .add-logo:hover {
    cursor: pointer;
  }
  
  .parent-container {
    text-align: -webkit-center;
  }
  
  .addtodo-container {
    padding: 15px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .addtodo-container input {
    margin: 10px;
    padding: 10px;
    width: 90%;
  }
  
  .bi {
    cursor: pointer;
    margin: 0px 7px;
  }
  
  .todo-box {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 700px;
    height: 25px;
  }
  
  .about {
    right: 10px;
    position: absolute;
    top: 4px;
  }
  
  .navbar-header {
    float: left;
    text-align: center;
    width: 100%;
  }
  .navbar-brand {
    float: none;
  }
  
  .edit-input {
    width: 600px;
    padding: 15px;
  }